<form [formGroup]="formTwo">
    <h5>Register form</h5>

    <label for="type">Type</label>
    <input formControlName="type" id="type" type="text">

    <label for="category">Category</label>
    <input formControlName="category" id="category" type="text">

</form>
<button (click)="onSubmit()">Submit</button>