<!-- etiqueta html form con formGroup apuntando hacia el FormGroup llamado registerForm
que creamos en el archivo .ts -->
<form [formGroup]="registerForm">
    <h5>Register form</h5>

    <label for="firstName">First Name</label>
    <!-- Es importante indicar a cada input su respectivo formControl -->
    <input formControlName="firstName" id="firstName" type="text">

    <label for="lastName">Last Name</label>
    <input formControlName="lastName" id="lastName" type="text">

    <label for="email">E-mail</label>
    <input formControlName="email" id="email" type="text">

    <label for="phone">Phone</label>
    <input formControlName="phone" id="phone" type="text">
</form>
<button (click)="onSubmit()">Submit</button>