<p>home works!</p>
<!-- El evento en el componente RegisterForm lo llamamos submitEvent, entonces lo capturmos
y redirigimos su contenido a la función onFormSubmit en el archivo .ts de este home-->
<app-progress-bar [step]="1"></app-progress-bar>
<app-register-form (submitEvent)="onFormSubmit($event)"></app-register-form>
